.contact {
  @include flexbox(center);
  position: relative;
  height: 110vh;

  &-wrapper {
    @include column-flexbox(center);
    @include transition;
    width: 0;
    height: 60vh;
    border-top: 3px solid $orange;
    border-bottom: 3px solid $orange;

    &.is-active {
      @include animation(width);
      animation-duration: 2s;
    }
    h1 {
      min-width: 80vw;
      padding: 15vh 0;
      text-align: center;
      font-size: 10vw;
      letter-spacing: -5px;
    }
  }

  footer {
    @include flexbox(between, center);
    @include pos-center-x;
    bottom: 12vh;
    width: 100%;

    p {
      font-size: 1.2vw;
    }

    .socials {
      @include flexbox(center);
      li {
        margin: 0 1.5vw;
        a {
          position: relative;
          font-size: 1.2vw;
          &::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 0.3vw;
            background-color: $orange;
            margin-top: 0.5vw;
            transform-origin: center;
            transform: scale(0);
            @include transition2;
          }

          &:hover:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  @include responsive(T) {
    position: static;
    display: block;
    height: auto;
    width: 100%;
    padding: 10vh 6vw;
    background-color: $orange;
    color: $background;
    &-wrapper {
      display: block;
      height: auto;
      width: 100%;
      border: none;

      &.is-active {
        animation: none;
      }

      h1 {
        font-size: 5rem;
        padding: 0;
        text-align: left;
        letter-spacing: -2px;
      }
    }

    footer {
      position: static;
      flex-direction: column;
      align-items: flex-start;
      transform: translateX(0);

      p {
        font-size: 2.8rem;
      }

      .socials {
        order: -1;
        display: block;
        margin: 3vh 0;

        li {
          margin: 0;
          a {
            font-size: 4rem;
            margin: 1.5vh;
          }
        }
      }
    }
  }

  @include responsive(M) {
    padding: 5vh 4vw;
    &-wrapper {
      h1 {
        font-size: 3rem;
      }
    }

    footer {
      p {
        font-size: 2rem;
      }

      .socials {
        margin: 3vh 0;

        li {
          a {
            font-size: 2rem;
            margin: 1vh;
          }
        }
      }
    }
  }
}
