$padding: 100px;
$md-breakpoint: 768px;
$lg-breakpoint: 1200px;

@mixin responsive($screen) {
  @if ($screen == 'D') {
    @media screen and (min-width: $lg-breakpoint) {
      @content;
    }
  }
  @if ($screen == 'T') {
    @media screen and (max-width: $lg-breakpoint) {
      @content;
    }
  }
  @if ($screen == 'M') {
    @media screen and (max-width: $md-breakpoint - 1) {
      @content;
    }
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.mobile-only {
  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

.mobile-hidden {
  @media screen and (max-width: $lg-breakpoint - 1) {
    display: none !important;
  }
}
