* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 0 $padding;
  background-color: $background;
  color: $dark;
  font-family: 'Montserrat', sans-serif;
  transition: all 500ms ease-in-out;
  &.bg-change {
    background-color: $dark;
    color: $background;
    transition: all 500ms ease-in-out;
  }
}

h1 {
  margin: 0px;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

section {
  overflow-x: hidden;
}
