// $background: #efefec;
$dark: #141414;
// $pink: #f6758e;

$background: #f0f0f0;
$pink: #141414;
$orange: #f98e8e;
$darkOrange: #a05c5c;
$lightOrange: #efc9c9;

// $gold: rgb(117, 99, 83);
// $black: rgb(17, 17, 17);
// $beige: rgb(236, 225, 217);
// $white: rgb(255, 255, 255);

$black: rgb(17, 17, 17);
$gold: rgb(117, 99, 83);
